@page
@model PrivacyModel
@{
    ViewData["Title"] = "Frequently Asked Questions";
}
<h1>@ViewData["Title"]</h1>

<h3>Can I book more than one class in a day?</h3>
<p>Yes you can book up to 7 classes per week.</p>
<h3>Can I cancel a booking?</h3>
<p>Yes you can, by clicking the cross next to your booking at the Bookings page.</p>
<h3>Can I view my bookings?</h3>
<p>You can view your existing bookings by clicking the Bookings tab at the top.</p>
<h3>Is there a limit to the classes I can book?</h3>
<p>You can book up to 7 classes per week.</p>
<h3>Can I book a class over the phone?</h3>
<p>Yes you can. Call us on 011 222 333 to book a class over the phone.</p>
<h3>Can I book a class in person?</h3>
<p>Yes you can. Just walk up to the gym reception and we can book you in for the class you want.</p>

