@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron">
    <h1>SKY GYM BOOKING PORTAL</h1>
</div>
<div class="row">
    <div>
        <h3>
            Sky Gym Booking is a sample application that
            allows you to book a gym class quick and easy. <br />
            Booking is done by clicking the <b>Book Class</b> tab at the top and
            selecting the desired class by clicking on it.
            Press the <b>BOOK</b> button to confirm your choice. <br />
            You can view your bookings in the <b>Bookings</b> tab.
        </h3>
    </div>
</div>